/* VALORES POR DEFECTO */
*{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
body{
    background-color: rgb(226, 226, 226);
}
h1{
    font-family: 'Russo One', sans-serif;
    letter-spacing: 7px;
    text-shadow: 5px 5px #558ABB;
    font-size: 1.50em;
    color: rgb(26,42,54);
}
h2{
    font-family: 'Orbitron', sans-serif;
    word-spacing: 0.25em;
    letter-spacing: 2.5px;
    font-size: 1em;
}
p{
    font-family: 'Gemunu Libre', sans-serif;
}
b{
    text-transform: uppercase;
}
.logo_energiote{
    height: 75px;
    width: 75px;
    user-select: none;
}
/* Estructura de la web */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(130, 185, 230);
}
    #box_menu{
    cursor: pointer;
    margin-top: 10px;
    }
        .img_box_menu{
            display: inline-block;
            height: 30px;
            width: 30px;
        }
            .line_img_box_menu{
                height: 3px;
                width: 25px;
                background-color: rgb(26,42,54);
                margin-bottom: 6.5px;
            }
        .text_box_menu{
            position: absolute;
            display: inline-block;
            margin-top: 2px;
            padding-left: 10px;
            font-size: 0.8em;
        }
    #box_tittle{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    #box_login{
        cursor: pointer;
    }
        .text_box_login{
            position: absolute;
            display: inline-block;
            font-size: 0.8em;
            margin-top: 15px;
            margin-left: -70px;
        }
        .img_box_login{
            display: inline-block;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            border: 3px solid rgb(26,42,54);
            margin-top: 3px;
        }
            .circle_img_box_login{
                margin: auto;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                border: 3px solid rgb(26,42,54);
                margin-top: 2px;
            }
            .square_img_box_login{
                margin: auto;
                height: 7px;
                width: 17px;
                border-radius: 35%;
                border: 3px solid rgb(26,42,54);
            }

@media only screen and (max-width: 600px) {
    .text_box_menu{
        display: none;
    }
    .text_box_login{
        display: none;
    }
  }